body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.start{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBtn{
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Poppins';
    outline: none;
    border: solid lightgray;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0;
    transform: translate(-1%,-3%);
    &:hover{
        background-color: lightgrey;
        box-shadow: 3px 3px 1px;
        border-bottom: 2px solid;
        transform: translate(-1%, -1%);
        transition: all 0.1s ease-in;
    }
    &:active {
        box-shadow: none;
        border-bottom-width: 2px;
        transform: translate(3px, 4px);
    }
}

.game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gameContent{
    display: flex;
    flex-direction: row;
    border:1.5px solid;
    padding: 1rem 1rem;
}

.gameChoices{
    display: flex;
    flex-direction: row;
}
.gameChoice{
    margin: 0 0.5rem;
    border: 1.5px solid;
    border-radius: 0.2rem;
}

.logo,.winnerImg{
    object-fit: cover;
    height: 5rem;
}

.rockImg{
    object-fit: contain;
    height: 4rem;
}
.paperImg{
    object-fit: contain;
    height: 4rem;
}
.scissorImg{
    object-fit: contain;
    height: 4rem;
}

#playAgainBtn{
    color: inherit;
    text-decoration: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    padding:0 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Poppins';
    outline: none;
    border: solid lightgray;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0;
    transform: translate(-1%,-3%);
    &:hover{
        background-color: lightgrey;
        box-shadow: 3px 3px 1px;
        border-bottom: 2px solid;
        transform: translate(-1%, -1%);
        transition: all 0.1s ease-in;
    }
    &:active {
        box-shadow: none;
        border-bottom-width: 2px;
        transform: translate(3px, 4px);
    }
}

.gameResult{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}